<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.MPOS.TestClass03_Create.createDepartment"/>
      <class name="com.MPOS.TestClass03_Create.createSupplier"/>
      <class name="com.MPOS.TestClass03_Create.createLocation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
